.comp-button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
        width: max-content;
        all: unset;
        cursor: pointer;
        height: 42px;
        padding: 0px 18px;
        border-radius: 14px;
        padding: 0px 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        transition: all 0.2s ease-in-out;
        font-weight: bold;
    }

    .default {
        background: var(--primary-color);
        color: var(--text-light-color);
        border: 1px solid rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: var(--primary-soft-color);
        }

    }

    .red {
        background-color: var(--red-color);
        color: whitesmoke;
        border: 1px solid rgba(0, 0, 0, 0.11);

        &:hover {
            background-color: var(--red-soft-color);
        }
    }

    .green {
        background-color: #98D8AA;
        color: var(--text-color);
        border: 1px solid rgba(0, 0, 0, 0.11);

        &:hover {
            background-color: var(--green-soft-color);
        }
    }

    .default-outline {
        outline: 1px solid rgba(0, 0, 0, 0.1);
        color: var(--text-color);

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

    }

    .red-outline {
        border: 1px solid var(--red-color);
        color: var(--red-color);

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    .green-outline {
        border: 1px solid var(--green-color);
        color: var(--green-color);

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}