.comp-inputfield {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;


    label {
        font-size: 14px;
        margin-left: 6px;
    }

    .field {
        padding: 0px 12px;
        color: var(--text-color) !important;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 14px;
        display: flex;
        align-items: center;
        height: 42px;
        gap: 8px;

        .icon {
            display: inline-flex;
        }

        .toggle {

            -webkit-tap-highlight-color: transparent !important;

            display: inline-flex;
            justify-content: center;
            margin-right: 8px;
            align-items: center;
            color: var(--primary-color);
            min-height: 36px;
            transition: all 0.2s ease;
            cursor: pointer;

        }

        input {
            all: unset;
            height: 34px;
            width: 100%;
        }

        button {
            cursor: pointer;
            all: unset;
            background: var(--text-color);
            color: var(--primary-color);
            padding: 8px;
            border-radius: 8px;
            transition: all 0.2s ease;

            &:hover {
                background: #4e684d;
            }

        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            border: none;
            -webkit-text-fill-color: var(--text-color);
            -webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
            transition: background-color 5000s ease-in-out 0s;
        }




    }

    .default {

        &:focus,
        &:focus-within {
            outline: 2px solid var(--text-color);
        }

    }

    .error {
        outline: 2px solid var(--red-color);
    }
}

.load-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    //width: 42px;

    .loading {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        display: inline-block;
        border-top: 2px solid var(--text-color);
        //margin-right: 8px;
        border-right: 2px solid transparent;
        box-sizing: border-box;
        animation: rotation 0.8s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}